.App {
  text-align: center;
}

h1, h4, p{
  text-align: center;
}

p{
  font-size: 8pt;
}

.page{
  background-image: url('./assets/store.jpg');
  background-repeat: no-repeat; 
  background-size: 100% 100%;
}

.cart{
  float: right;
}

.btn {
  width: '300px';
  margin-bottom: '15px';
  height: '70px';
  padding: '10px';
}